// Variables
$website-width: 1280px;
// $main-color: #ffbc00;
$main-color: #08971b;
$light-color: #f4f4f4;
$dark-color: #333;
$secondary-color: rgb(151, 118, 75);
// $medium-color: #ccc;
$medium-color: #539b5c;
$bg-image: url('../images/backgrounds/Austin-Skyline-1.jpg');

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}