@import 'config';
@import 'utilities';
@import 'item_grid';

* {
  margin: 0;
  padding: 0;
}

// General Styles
body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  background: white;
}

a {
  text-decoration: none;
  color: $dark-color;
}